/*--------------------------------------------------------
Responsive elements
--------------------------------------------------------*/

@media only screen and (max-width: 1024px) {
    #about .three {
        width: 40%;
    }

    .icons li {
        padding-right: 4px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 44px;
    }

    #slider {
        padding: 40px 0 0 0;
    }

    #contact {
        padding: 60px 0 40px 0;
    }

    #contact .twelve {
        margin-bottom: 20px;
    }

    #contact .two, #contact .three, #contact .five {
        font-size: 11px;
    }

    #contact .map {
        margin: 40px 0 20px 0;
    }

    #festivals {
        padding: 70px 0 0 0;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }

    #slider {
        padding: 20px 0 0 0;
    }

    #about .twelve {
        margin-bottom: 10px;
    }

    #contact {
        padding: 80px 0 10px 0;
    }

    #contact .twelve {
        margin-bottom: 10px;
    }

    #contact .map {
        margin: 30px 0 10px 0;
    }

}

@media only screen and (max-width: 767px) {
    nav ul li {
        margin-left: 5px;
        font-size: 10px;
    }

    nav ul li a {
        color: #bbbbbb;
    }

    #header {
        height: 90px !important;
    }
}

@media only screen and (max-width: 479px) {
    h1 {
        font-size: 32px;
    }

    #slider {
        padding: 20px 0 0 0;
    }

    #about .twelve {
        margin-bottom: 10px;
    }

    #contact {
        padding: 80px 0 10px 0;
    }

    #contact .twelve {
        margin-bottom: 10px;
    }

    #contact .map {
        margin: 30px 0 10px 0;
    }

    .icons li {
        padding-right: 0;
    }

}