body {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    background-color: #183086;
    color: #D4D7DE;
}

a:link {
    color: #FAE17A;
}

a:visited {
    color: #FAE17A;
}

a:active {
    color: #FAE17A;
}

a img {
    border: none;
}

.header {
}

.left-div {
    float: left;
}

.calendar {
    width: 15em;
}

.latest-news {
    font-size: small;
    background-color: #234567;
}

.borders {
    background-color: #234543;
}

.right-div {

}

.footer {
    clear: both;
    text-align: center;
}

