.rslides {
    list-style: none outside none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.rslides_container {
    float: left;
    position: relative;
    width: 100%;
}

.rslides1_nav {
    background: url("../images/slider/themes.gif") no-repeat scroll left top rgba(0, 0, 0, 0.5);
    height: 61px;
    left: 0;
    margin-top: -45px;
    opacity: 0.6;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    top: 50%;
    width: 38px;
    z-index: 99;
}

.rslides1_nav:active {
    opacity: 1;
}

.rslides1_nav.next {
    background-position: right top;
    left: auto;
    right: 0;
}

.rslides1_nav:focus {
    outline: medium none;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 5px;
}

.rslides_tabs a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3) inset;
    display: inline-block;
    height: 9px;
    overflow: hidden;
    text-indent: -9999px;
    width: 9px;
}

.rslides_tabs .rslides_here a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    left: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    text-align: center;
}