/*Header*/
header {
	height: 60px !important;
	padding-top: 20px;
	z-index: 2000;
	background: white;
	width: 100%;
}

header .row .five {
	margin-top: 3px;
}

nav select {
	display: none;
	width: 100px;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #181516;
}

nav li a:hover {
	color: #708ca2;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}

/*Slider*/

#slider {
	height: auto;
	width: 100%;
	padding: 20px 0 20px 0;
	background: #000000;
}

/*Festivals*/

#festivals {
	height: auto;
	width: 100%;
	padding: 60px 0 20px 0;
	background: #02002A;
	color: #d0d5d7;
}

#festivals .column {
	margin-top: 20px;

}

.festival-icon {
	width: 60px;
	text-align: right;
	float: left;
	overflow: hidden;
	margin-top: 0;

}

.festival-desc {
	margin: 0 0 0 80px;
}

#festivals h3 {
	color: #708ca2;
	margin-top: -4px;
}

#festivals p {
	padding-right: 10px;
	font-size: 13px;
	margin-bottom: 0.8em;
}

#festivals h1 {
	color: #fff;
	background: #02002A;
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.festival_1 {
	font-size: 18px !important;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.festival_2 {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Team*/

#team {
	height: auto;
	width: 100%;
	padding: 70px 0;
	background: #000000;
	color: #d0d5d7;
	text-align: center;
}

.round {
	border-radius: 200px;
}

#team h1 {
	color: #fff;
	background: #000000;
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

#team img {
	margin-top: 40px;
}

#team h4 {
	color: #d0d5d7;
	margin-top: 30px;
	padding: 0 10px;
}

#team p {
	padding: 0 10px;
	font-size: 13px;
}

/*About*/

#about {
	height: auto;
	width: 100%;
	padding: 70px 0 60px 0;
	background: #02002A;
	color: #d0d5d7;
}

#about h1 {
	color: #fff;
	background: #02002A;
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

/*Contact*/
#contact {
	height: auto;
	width: 100%;
	padding: 100px 0 60px 0;
	text-align: center;
}

#contact h1 {
	background: #fff;
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

#contact .map {
	margin: 60px 0 40px 0;
}

#contact .two, #contact .three, #contact .four, #contact .five {
	text-align: left;
	font-size: 13px;
	line-height: 1.8;
	margin-top: 20px;
}

address {
	font-style: normal;
}

.icons li {
	text-align: left;
	display: inline-block;
	padding-right: 6px;
	height: 48px;
	overflow: hidden;
}

.social-icon {
	width: 48px;
	height: 48px;
}

.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 42%;
}

.video iframe,
.video object,
.video embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}